body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f7f7;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: beige;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    letter-spacing: 2px;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffae42;
}

section {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center; /* Center-align the content */
}

h1, h2 {
    color: #ffae42;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 20px;
}

.coffee-name {
    color: #ffae42;
    font-weight: bold;
}

.buy-button {
    background-color: #ffae42;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #f39400;
}

.coffee-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

ul#menu {
    text-align: center;
}

#contact {
    text-align: center; /* Center-align the content in the contact section */
}
